{% extends 'base.html' %}
{% block body %}

    <h1>To-Do Application</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input class="btn btn-info" type="submit" name="Create Task">
    </form>

    <div class="todo-list">
    {% for item in task %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' item.id %}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete' item.id %}">delete</a>

            {% if item.complete == True %}
                <strike>{{ item }}</strike>
                {% else %}
                <span>{{ item }}</span>
            {% endif %}
        </div>
    {% endfor %}
    </div>

{% endblock %}